<div class="input-group mb-3">
  <input class="form-control" placeholder="Enter City" aria-label="Recipient's username" aria-describedby="basic-addon2"
    type="text" [(ngModel)]="city">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)='citySelected()'>Search by City</button>
  </div>
</div>

<ul class="list-group">
  <h5 [ngStyle]="{'margin-top':'20px'}">List of Branches</h5>
  <li class="list-group-item" [style.background-color]="branch===selectedBranch ? '#C8C8C8' : ''" *ngFor="let branch of searchedBranches | paginate: { itemsPerPage: 10, currentPage: p }; 
    let i = index" (click)='onSelect(branch)'>
    {{branch.Name}}
  </li>
</ul>
<pagination-controls (pageChange)="p = $event"></pagination-controls>