<div class="row">
    <div class="col-md-4">
        <app-branch-list (branchSelect)="selectedBranch($event)" 
        (hideDetails)="hideBranchDetails($event)">
        </app-branch-list>
    </div>

    <div class="col-md-3" *ngIf="displayBranchDetails">
        <app-branch-details [displayBranch]="branchSelected"></app-branch-details>
    </div>
</div>