<div class="card" *ngIf="displayBranch">
  <div class="card-header">
    {{displayBranch.Name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Contact Information</h5>
    <h6 class="card-text">Address</h6>
    <p class="card-text">{{displayBranch.PostalAddress.AddressLine[0]}}</p>
    <p class="card-text">{{displayBranch.PostalAddress.TownName}}</p>
    <p class="card-text">{{displayBranch.PostalAddress.CountrySubDivision[0]}}</p>
    <p class="card-text">{{displayBranch.PostalAddress.Country}}</p>
    <p class="card-text">{{displayBranch.PostalAddress.PostCode}}</p>
    <h6 class="card-text">Phone</h6>
    <p class="card-text">{{displayBranch.ContactInfo[0].ContactContent}}</p>
  </div>
</div>